.cover {
  text-align: center;
  min-height: 85vh;
  margin-top: 0.1rem;
  width: 98.9vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  background: url("../images/garuda/bg/garuda.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cover_text {
  text-align: center;
  min-height: 35vh;
  vertical-align: bottom;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.3);
  backdrop-filter: blur(10px);
  padding-left: 2rem;
}

.cover_text h1 {
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-size: 2.5rem;
  font-weight: 900;
  animation: letter 2s 1;
}

.cover_text a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
  display: inline-block;
  margin: 0.5rem 0.3rem;
}

/* =======================download button============== */

.button {
  border-radius: .5rem;
  background-color: rgba(31, 30, 30, 0.3);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 2%;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2%;
  outline: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5%;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10%;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ------------------------- End of Cover ----------------------------- */

/* ================================End of Features========================================== */

.main-grid-div h1 {
  text-align: center;
  margin-top: 20%;
  padding-top: 5%;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  padding-top: 10%;
}

.grid-items {
  text-align: center;
  box-shadow: -1.75px -1.75px 4px 0.75px palevioletred, 2px 2px 5px 1px rgb(55, 55, 235);
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right,  palevioletred,rgb(55, 55, 235));
  border-image-slice: 1;
  margin: 5%;
  padding: 3%;
}


.main-grid-div button{
  box-shadow: -1.75px -1.75px 4px 0.75px palevioletred, 2px 2px 5px 1px rgb(55, 55, 235);
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right,  palevioletred,rgb(55, 55, 235));
  border-image-slice: 1;
  background-color: black;
  color: white;
  border-radius: .5rem;
  padding: 2%;
  /* margin-top: 5%; */
  border: none;
}
.main-grid-div button:hover{
  box-shadow: -2px -2px 10px 1px palevioletred, 2px 2px 10px 1px rgb(55, 55, 235);
  cursor: pointer;
  outline: none;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto;
}

.grid-items2 {
  text-align: center;
  box-shadow: -1.75px -1.75px 4px 0.75px palevioletred, 2px 2px 5px 1px rgb(55, 55, 235);
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right,  palevioletred,rgb(55, 55, 235));
  border-image-slice: 1;
  padding: 5% 10% 5% 10%;
  margin: 0% 10% 0 10%;
}

.item-table tr {
  text-align: left;
  height: 4rem;
  padding: 10rem;
}

.item-table button {
  padding: 8%;
  width: 5rem;
  margin-left: 1rem;
}

/* ================================End of Features========================================== */

/* ------------ Special features - Scards ---------- */

.spotlights {
  margin: 5rem 0;
  padding-left: 0 !important;
}

.scards {
  padding: 8rem 3rem;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-color: black;
  background-image: linear-gradient(0.4turn, black, black, black, purple);
  margin-bottom: -8rem;
  transition: all 1s ease;
}

.scards:nth-child(odd) {
  background-color: white;
  background-image: linear-gradient(0.55turn, white, white, white, pink);
  color: black;
}

#first_scards {
  padding-bottom: 12rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin-bottom: -10rem;
}

.spotlights>h1, .scards>h2 {
  text-align: center;
}

.scards>img {
  display: block;
  margin: 2rem auto;
  max-width: 80vw;
  min-width: 60vw;
}