@import url('https://fonts.googleapis.com/css2?family=Raleway');

html,body{
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.75rem;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.Shree{
    margin-left: 0;
    width: 100%;
    background-color: black;
    color: white;
}

/* --------------------------- Navbar -----------------------  */

.navbar{
    position: sticky;
    position: -webkit-sticky;
    padding: 1.25rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.75);
    height: 10vh;
    min-height: 60px;
    /* max-height: 200px; */
    align-items: center;
    border-bottom: 2px solid rgb(27,170,255);
    z-index: 10;
    width: 100%;
}

.navbtn{
    color: rgba(180,180,180,0.8);
    text-decoration: none;
    border: none;
    padding: 0 0.75vw;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    height: 7vh;
    transition: color 1s ease-out;
    user-select: none;
}

.navbtn:hover, .current{
    /* border-bottom: 2px solid white; */
    color: white;
}

#dropbtn:hover{
    cursor: default;
}

.logo{
    display: inline-block;
    width: 240px;
    height: 60px;
    background: url("../../images/garuda/home/garudalinux2.png") center center/cover;
    margin-right: 2vw;
}

.dropdown-content{
    display: none;
}

.dropdown-content a{
    display: block;
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.8);
    border: none;
    padding: 2vh 0.5vw;
    color: rgba(180,180,180,0.8);
    font-size: 1rem;
    border-bottom: 0.2px solid rgba(180,180,180,0.25);
    transition: all 1s ease-out;
}

.dropdown-content a:hover{
    color: white;
    border-bottom: 2px solid white;
}

.dropdown:hover .navbtn{
    color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    right: 0;
    padding-top: 2vh;
    margin-top: -2vh;
    animation: rolldown 0.4s 1;
}

/* ----------------------------- End of Header ---------------------- */

/* ----------------------------  Side Navigation Menu --------------------- */

.sidenav{
    font-size: 1.25rem;
    position: fixed;
    left: 0;
    top: 50vh;
    margin-top: -9rem;
    border-radius: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 5;
}
.sidelinks{
    z-index: 20;
    padding: 0.75rem 0.5rem 0.75rem 0.2rem;
    border: 3px solid;
    border-left: 2rem;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: white;
    text-decoration: none;
    color: inherit;
    margin-left: -4rem;
    max-width: 6.25rem;
    transition: all 1s ease;
}

.sidedwn{
    color: black;
    animation: rollup 1.25s 1;
}

.sidedwn:hover{
    color: white !important;
    background-color: #000000 !important;
}

.sidegit{
    color: #fc6d26;
    animation: rollup 1.55s 1;
}
.sidegit:hover{
    color: white !important;
    background-color: #fc6d26 !important;
}

.sidetele{
    color: #0088cc !important;
    animation: rollup 2s 1;
}
.sidetele:hover{
    color: white !important;
    background-color: #0088cc !important;
}

.sidetwit{
    color: #00acee !important;
    animation: rollup 2.3s 1;
}
.sidetwit:hover{
    color: white !important;
    background-color: #00acee !important;
}
.sidefb{
    color: #0088cc !important;
    animation: rollup 2.5s 1;
}
.sidefb:hover{
    color: white !important;
    background-color: #0088cc !important;
}

.hidden{
    display: inline-block;
    font-size: 0.8rem;
    width: 4rem;
}

.sidenav~*{
    padding-left: 1.85rem;
}

/* --------------------------- End of Side Navigation Menu ------------------ */

.announce{
    background-color:white;
    display:block;
    bottom:0;
    position:fixed;
    width:100%;
    z-index:5000;
    color:black;
    padding:0 2rem;
    transition: all 2s ease;
    text-align: center;
}
.announce-cross{
    color: red;
    display: inline-block;
    position: absolute;
    right:1vw;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    background-color: white;
    margin-top: 4rem;
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;
}

.footer a{
    padding-left: 1rem;
    color: black;
    text-decoration: none;
}

/* ----------------------------------- End of Footer ----------------------------- */
/* ------------------------------------- End of Page ------------------------------ */

/* ---------------------------- Animations -------------------------- */

@media(hover:hover){
    @keyframes rolldown{
        0% { margin-top: -3rem;opacity: 0;filter: blur(3px);}
        100% { opacity: 1;}
      }
      .sidelinks:hover{
        margin-left: 0;
        border: 1px solid;
    }
}

@media(hover:none){
    @keyframes rolldown{
        0% { padding-top: 1.75rem;opacity: 0;filter: blur(3px);}
        100% { opacity: 1;}
    }
}

  @keyframes rollup {
    0%   { margin-top: 27.5rem;margin-bottom: -27.5rem; opacity: 0;}
    50% { margin-top: 27.5rem;margin-bottom: -27.5rem;opacity: 0;}
    100% {margin-top: 0;margin-bottom: 0;opacity: 1;}
  }

@keyframes letter{
    0%{letter-spacing: 5rem;opacity: 0; }
    100%{opacity: 1;}
}

/* -------------------------------------- Queries ------------------------------  */

@supports ((-webkit-backdrop-filter: blur(1.9rem)) or (backdrop-filter: blur(1.9rem))) {
	.navbar,.blur{
        background-color: rgba(0,0,0,0.4);
	  -webkit-backdrop-filter: blur(1.9rem);
	  backdrop-filter: blur(1.9rem);
	}
}
 
.goog-logo-link {
    opacity:0.01 !important;
}   
.goog-te-gadget{
    color: transparent !important;
}

#google_translate_element>*>*>*{
    color:white;
    background-color: black;
    font-size: 1rem;
    border: 2px solid white;
    padding: 0.5rem;
    min-width: 20rem;
    display: block;
    margin-bottom: -2rem;
}
.translate{
    font-size: 1.4rem;
    text-align: center;
}
#google_translate_element>*>*>*:hover{
    background-color: #333333 !important;
    transition: all 0.5s ease;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
